<div class="content_box">

<div class="sidebar_layout">




  <!-- Sidebar -->
  <div class="right_sidebar sidebar clearfix">

    <!-- Text -->
    <section>
      <ng-include class="" src="'partials/sidebar.html'"></ng-include>
    </section>

  </div>


  <!-- Main column -->
  <div class="main_column two_thirds">
    <h2>About Us</h2>
  <p>
    We saw the need in the healthcare industry to help patients and doctors with the

    administrative side of the specialist treatment process, so both could focus even better on

    their respective goals.
  </p>
    <p>
    Reality of modern healthcare system necessitates the proliferation of Patient Care

    Coordinators throughout the Nation. Patient Care Coordinators cannot be trained fast

    enough in colleges everywhere. However, unfortunately, only large medical facilities are in

    position to hire full-time coordinators, leaving the smaller practices at a measurable

    disadvantage, which results in lots of unneeded frustration and wasting of valuable time - for

    patients and care providers’ staffs alike. We provide this service to Patients and Primary

    Care Physicians completely free of charge, because we believe that this service is integral

    and fills the void inherent in the healthcare system.
    </p><p>
    Our background in operating clinics nationwide, dealing with specialists and insurance

    carriers for decades, gave us the knowledge required to successfully operate Patient Care

    Coordination in our practices. We have experienced the void in the industry first-hand, and

    have set out to rid our clinics of these shortcomings for the sake of healthier patients. Once

    we had accomplished that task, we started looking at how we could help other practitioners

    - and, more importantly, their patients - achieve the same. Soon enough, an idea was born:

    to create a company that will focus specifically on patient care coordination.

  </p><p>We have a staff of trained healthcare professionals, who are dedicated to Patient Care

    Coordination - which we make available to patients, primary providers and specialists. We

    provide the highest quality of service to all three, while reducing stress for the patients and

    workloads for doctors and their staffs.

  </p><p>Completely secure. PCS stringently adheres to HIPAA regulations regarding patient privacy.

    We do not directly handle or receive any of the confidential medical information - this

    information remains secure with the Specialist and Primary Care Physician’s offices. We

    facilitate the reporting between the two, but we only maintain the minimal data required to

    identify patients during the course of treatment.

  </p><p>We wanted this service to be COMPLETELY FREE for all patients. One of our central goals

    is not to add to the patient’s treatment costs. Primary Care Providers also receive our

    benefits completely free of charge. The Specialists that we work with pay us a monthly fee,

    which is low enough to be virtually inconsequential to their clinics, but is enough

    cumulatively to cover our internal costs. This ensures that we are able to maintain a

    professional staff, and hire the best individuals to better assist you with the administrative

    side of your specialist treatment.

  </p><p>While PCS has only been in business since the Spring of 2014, our management team has

    a cumulative healthcare experience of several decades. Our staff is selected based on their

    ability to successfully coordinate patient care cycles, leveraging their respective educations,

    professional experiences and personal traits.

  </p><p>As of right now, as far as we know, there is no direct alternative to our service. If there was,

    we probably wouldn’t be here. That said, we are experienced in exactly what we do, having

    healthcare and healthcare administration backgrounds, which gives us confidence that we

    will be able to provide the best possible quality of service.

  </p><p>Anyone, who finds themselves in position of having to visit a specialist can benefit from

    using PCS to streamline the process. Since our service is completely free of charge to the

    patients, there is no reason not to make use of it. Since most people, who require a

    specialist visit, would usually have much more important things to focus on, than the

    administrative “mumbo-jumbo” associated with the visit, PCS will provide the peace of mind

    and allow you to focus solely on your recovery. We know the process (we do this hundreds

    of times per day), whereas most patients experience this only several times in a lifetimes -

    at most!

  </p><p>You tell us which specialist you need to visit, narrow down the location and appointment

    times that work for you - we will offer you a choice of reliable specialists. When you will

    have chosen your specialist, we will assist with making and confirming your appointment

    and will obtain a pre-authorization for your visit from your insurance. We will keep track of

    your appointment and make sure to follow up with the specialist after your visit, ensuring

    that any applicable results are promptly forwarded to your primary doctor. All the while, you

    will not be required to do much beyond just focusing on getting better. We will ensure the

    smooth patient care cycle between your primary care provider and the specialist you

    choose.

  </p><p>The best way to start the process is to fill out the <a href="#">patient questionnaire here </a>. One

    of our friendly staff will be in touch with you promptly. You may also call us at [888-888-

    8888].

  </p><p><a href="#/contact">Email or call us</a> with any questions of comments. Our staff and management

    are dedicated to delivering the best possible experience to every single patient, doctor and

    staff member, who chooses to work with us.

  </p><p>

    <p style="padding-right:20px"><i>“A landmark report by the Institute of Medicine in 1999 cited the fragmented health-care

    system and patients’ reliance on multiple providers as a leading cause of medical

    mistakes... there have been improvements since, but “we have not done enough.

    Subsequent studies suggest the toll may be even higher than the Institute of Medicine

    estimated. A 2010 federal report projected that 15,000 Medicare patients every month

    suffered such serious harm in the hospital that it contributed to their deaths.”</i></p>

    <p style="test-align:right">From an article published in Kaiserhealthnews.org in April, 2013.</p>

    <p style="test-align:right"><b>Disclamer:</b> Patient Concierge Services Inc. (PCS) is an independent medical management and scheduling company operating independently of a Patients primary care provider. PCS by and through agreements with many of New York's Specialty Physicians provides its services free of charge to Patients and their Primary Care Provider.  PCS provides You, the Patient, the ability to find a nearby doctor, dentist, lab and/or imaging center that accepts your insurance, conducts required pre-authorizations and then books and confirms your appointment with the needed health care provider.
    </p>

  </div>


</div>

</div>
