
<div class="content_box">


  <!-- Sidebar layout -->
  <div class="sidebar_layout">


    <!-- Sidebar -->
    <div class="left_sidebar sidebar clearfix">
      
      <!-- Offices -->
      <section>
        <h3>Offices</h3>
        <p class="icon">
          <i class="icon-map-marker"></i>
          <strong>Difference Template (USA)</strong><br>
          123 Wall Street<br>
          New York, NY
        </p>
        <p class="icon">
          <i class="icon-map-marker"></i>
          <strong>Difference Template (Canada)</strong><br>
          123 9th Avenue<br>
          Toronto, Canada
        </p>
      </section>
      
      <!-- Contact information -->
      <section>
        <h3>Contact information</h3>
        <p class="icon">
          <i class="icon-envelope-alt"></i>
          difference@equiet.sk
        </p>
        <p class="icon">
          <i class="icon-phone"></i>
          1-800-123-456
        </p>
      </section>

      <!-- Opening hours -->
      <section>
        <h3>Opening hours</h3>
        <p class="icon">
          <i class="icon-time"></i>
          Monday - Friday <span class="opening">8:00 - 18:00</span><br>
          Saturday <span class="opening">8:00 - 14:00</span><br>
          Sunday <span class="opening">10:00 - 14:00</span><br>
        </p>
      </section>
      
    </div>


    <!-- Main column -->
    <div class="main_column two_thirds">

      <!-- Text and contact form -->
      <section>

        <p>Please feel free to contact us with any questions or concerns.</p>

        <hr>

        <form action="#" id="contact_form">
          <div class="one_third top first">
            <label for="name">Your name:</label>
            <input name="name" id="name" type="text">
          </div>
          <div class="clearfix"></div>
          <div class="one_third top first">
            <label for="email">E-mail:</label>
            <input name="email" id="email" type="email">
          </div>
          <div class="clearfix"></div>
          <div>
            <label for="message">Message:</label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
          </div>
          <div>
            <input type="submit" value="Send" class="theme_button medium">
            <p class="status"></p>
          </div>
        </form>

      </section>

    </div>


  </div>


</div> 

