
<div class="content_box">


  <!-- Sidebar layout -->
  <div class="sidebar_layout">


    <!-- Sidebar -->
    <div class="left_sidebar sidebar clearfix">

      Patient Concierge Services, Inc

      <!-- Offices -->
      <section>
        <h3>Offices</h3>
        <p class="icon">
          <i class="icon-map-marker"></i>
          <strong>Patient Concierge Services, Inc</strong><br>
          6045 Eliot Ave <br>
          Maspeth, NY 11378 <br>
        </p>
      </section>
      
      <!-- Contact information -->
      <section>
        <h3>Contact information</h3>
        <p class="icon">
          <i class="icon-envelope-alt"></i>
          info@justpatient.com
        </p>
        <p class="icon">
          <i class="icon-phone"></i>
          888.248.9002
        </p>
        <p class="icon">
          <i class="icon-edit"></i>
          888.248.8572
        </p>
      </section>

      <!-- Opening hours -->
      <section>
        <h3>Office hours</h3>
        <p class="icon">
          <i class="icon-time"></i>
          Monday - Friday <span class="opening">8am - 6pm</span><br>
        </p>
      </section>
      
    </div>


    <!-- Main column -->
    <div class="main_column two_thirds">

      <!-- Text and contact form -->
      <section>

        <p>Please feel free to contact us with any questions or concerns.</p>

        <hr>

        <form action="#" id="contact_form">
          <div class="one_third top first">
            <label for="name">Your name:</label>
            <input name="name" id="name" type="text">
          </div>
          <div class="clearfix"></div>
          <div class="one_third top first">
            <label for="email">E-mail:</label>
            <input name="email" id="email" type="email">
          </div>
          <div class="clearfix"></div>
          <div>
            <label for="message">Message:</label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
          </div>
          <div>
            <input type="submit" value="Send" class="theme_button medium">
            <p class="status"></p>
          </div>
        </form>

      </section>

    </div>


  </div>


</div> 

