<!-- Features -->

<div class="content_box">

<section class="row">

    <ul class="features clearfix">

        <li class="one_third">
            <h3 class="full_bg"><i class="icon-cogs black small"></i> Fast and Effective</h3>
            <p>PCS streamlines the process of finding the right specialist by

                coordinating insurance carriers, location, availability and ensuring the follow-through

                process, while providing better spectre of options to patients. You may think of PCS as

                a “Patient Concierge” service - now available free of charge to everyone.</p>
        </li>

        <li class="one_third">
            <h3 class="full_bg"><i class="icon-fullscreen black small"></i> Safe and Reliable</h3>
            <p>PCS stringently adheres to HIPAA regulations regarding patient

                privacy. We do not directly handle or receive any of the confidential medical records or

                information. We only facilitate the reporting between the primary care physician and the

                specialist, maintaining schedules through basic contact information.</p>
        </li>

        <li class="one_third">
            <h3 class="full_bg"><i class="icon-envelope-alt black small"></i> Experienced in Helping You</h3>
            <p>PCS offers access to our comprehensive network of Physicians to help you find the best

                specialist. Follow the easy appointment process to get started.</p>
        </li>

    </ul>

</section>


<!-- Call to action -->
<section class="call_to_action clearfix">
    <div class="row">
        <p><i>“Nobody is responsible for coordinating care. That’s the dirty little secret about health

            care.”</i>
        </p>
        <p style="text-align:right"> Dr. Lucian Leape, a Harvard health policy analyst and a nationally recognized patient safety leader.

        </p>
    </div>
</section>
</div>