<!-- Features -->
<div class="slider box">

    <!-- Slides -->
    <ul class="photo_slider rs-slider">

        <li>
            <img src="placeholders/1010x400/1.jpg" alt="">
            <div class="rs-caption">
        <span class="rs-arrows">
          <a href="#" class="rs-prev"><i class="icon-chevron-left"></i></a><a href="#" class="rs-next"><i class="icon-chevron-right"></i></a>
        </span>
                <p>Patient Concierge Services helps YOU receive the best possible healthcare by bridging the
                    gap between your primary care physician and specialists.</p>
            </div>
        </li>

        <li>
            <img src="placeholders/1010x400/2.jpg" alt="">
            <div class="rs-caption">
        <span class="rs-arrows">
          <a href="#" class="rs-prev"><i class="icon-chevron-left"></i></a><a href="#" class="rs-next"><i class="icon-chevron-right"></i></a>
        </span>
                <p>Within minutes you can find the right specialist convenient to your location and schedule,
                    that accepts your insurance. You can also make the appointment right here and be on your
                    way to getting well sooner.</p>
            </div>
        </li>

        <li>
            <img src="placeholders/1010x400/3.jpg" alt="">
            <div class="rs-caption">
        <span class="rs-arrows">
          <a href="#" class="rs-prev"><i class="icon-chevron-left"></i></a><a href="#" class="rs-next"><i class="icon-chevron-right"></i></a>
        </span>
                <p>PCS offers access to our comprehensive network of Physicians to help you find the best
                    specialist. Follow the easy appointment process to get started.</p>
            </div>
        </li>

    </ul>

</div>

<div class="content_box">

<section class="row">

    <ul class="features clearfix">

        <li class="one_third">
            <h3 class="full_bg"><i class="icon-cogs black small"></i> Fast and Effective</h3>
            <p>PCS streamlines the process of finding the right specialist by

                coordinating insurance carriers, location, availability and ensuring the follow-through

                process, while providing better spectre of options to patients. You may think of PCS as

                a “Patient Concierge” service - now available free of charge to everyone.</p>
        </li>

        <li class="one_third">
            <h3 class="full_bg"><i class="icon-fullscreen black small"></i> Safe and Reliable</h3>
            <p>PCS stringently adheres to HIPAA regulations regarding patient

                privacy. We do not directly handle or receive any of the confidential medical records or

                information. We only facilitate the reporting between the primary care physician and the

                specialist, maintaining schedules through basic contact information.</p>
        </li>

        <li class="one_third">
            <h3 class="full_bg"><i class="icon-envelope-alt black small"></i> Experienced in Helping You</h3>
            <p>PCS offers access to our comprehensive network of Physicians to help you find the best

                specialist. Follow the easy appointment process to get started.</p>
        </li>

    </ul>

</section>


<!-- Call to action -->
<section class="call_to_action clearfix">
    <div class="row">
        <p><i>“Nobody is responsible for coordinating care. That’s the dirty little secret about health

            care.”</i>
        </p>
        <p style="text-align:right"> Dr. Lucian Leape, a Harvard health policy analyst and a nationally recognized patient safety leader.

        </p>
    </div>
</section>
</div>