    <div class="content_box">


        <!-- Sidebar layout -->
        <div class="sidebar_layout">

            <!-- Sidebar -->
            <div class="right_sidebar sidebar clearfix">

                <!-- Text -->
                <section>
                    <ng-include class="" src="'partials/sidebar.html'"></ng-include>
                </section>


            </div>


            <!-- Main column -->
            <div class="main_column two_thirds">

                <h2>Services for Patients</h2>

                <p>FREE Patient Concierge Service for everyone!</p>

                <p>

                    Patient Concierge Service helps you save time and find the right specialist doctor in your

                    area.
                <p>
                <h3>What is a Patient Concierge?</h3>

                <p>Patient Concierge is the answer to the question posted by the voids created inherently in

                the modern healthcare system. After decades of providing quality primary and urgent health

                care services to millions of patients, founders of PCS set out to provide Patient Concierge

                service to everyone. For free! You may think of us as the personal secretary with lots of

                healthcare industry experience, who will bridge the gap between your primary healthcare

                provider and any specialist you may have to visit in the course of your treatment.
                </p>
                <p>PCS works hard to fulfill these integral requirements for patients, who require the help of a

                    specialist doctor:
                <ul>

                <li>finding specialist doctor in network with your insurance</li>

                <li>finding a specialist convenient to your location</li>

                <li>appointment scheduling and confirmation streamlining</li>

                <li>follow-up with the specialist, ensuring your primary physician receives the results in</li>

                a timely and professional manner</li>

                <li>expanding the number of options for the patients in terms of finding the right

                specialist</li>

                <li>extended hours of phone and email support to patients</li>

                <li>practical information regarding getting the most out of your specialist visit</li>

                <li>trained professional staff, with decades of healthcare and patient care coordination

                experience</li>

                <li>expert handling of the entire specialist visit process on behalf of the patient</li>
                </ul>
                </p>

                <p>Here’s a statistic that no one would ever want to be a part of: </p>
                <p style="padding-left:20px">
                <i>“Advocates for hospital

                    patients and their families say confusion about who is managing a patient’s care — and

                    lack of coordination among those caregivers — are endemic, contributing to the

                    estimated 44,000 to 98,000 deaths from medical errors each year.”</i>
                </p>
                <p style="text-align:right;padding-top: 0px">

                    (Kaiserhealthnews.org, April 30, 2013)
                </p>
                <p>
                Since then, major hospitals have increased the hiring and training of Patient Care

                Coordinators - professionally trained staff that oversees the entire treatment cycle.

                However, smaller Primary Care (general) practices simply cannot afford to hire such

                professionals, and their existing staffs - however well-trained they may be - often simply

                do not have the time to process all the administrative work, required for specialist visits.

                This effectively leaves the responsibility for finding the specialist and coordinating the

                visit in the hands of the patient and/or patient’s family. We believe this be an unfair

                burden and have created PCS to assist patients everywhere in getting the most out of

                their specialist visits, while freeing them up to focus solely on treatment and recovery.
                </p>
            </div>
        </div>
    </div>
