
    <div class="content_box">


        <!-- Sidebar layout -->
        <div class="sidebar_layout">




            <!-- Sidebar -->
            <div class="right_sidebar sidebar clearfix">

                <!-- Text -->
                <section>
                    <ng-include class="" src="'partials/sidebar.html'"></ng-include>
                </section>

            </div>


            <!-- Main column -->
            <div class="main_column two_thirds">

                <h2>Services for Primary Care Physicians.</h2>

                <p>PCS created a comprehensive network of Primary Care and Specialist Physicians for

                    complete Patient Care Coordination. Through this network you will be able to offer the best

                    possible care to your patients and reduce administrative workloads on your staff. By joining

                    the PCS network, you will be able to offer your patients a higher level of care, providing our

                    Patient Concierge services free of charge and freeing more of your and your staff’s time to

                    focus on the more important tasks.</p>

                <p>

                    PCS fulfills the increasing need for patient care coordination within the healthcare system,

                    by streamlining the specialist location and appointment process for the patient. We take on

                    the tasks, that you and your staff simply do not have the time for, covering the entire

                    administrative cycle of the patient care process from identifying appropriate matching

                    specialists for the patient, assisting with setting the appointment, coordinating with the

                    insurance carrier, confirming pre-authorizations, following up and the forwarding of the

                    results to you in a timely and professional manner. Our trained professionals are dedicated

                    to effectively manage the entire specialist visit cycle, with years of relevant experience and

                    desire to provide the highest-quality service to your patients, Primary Care Providers and

                    Specialists, by relieving them of the unnecessary administrative stress.

                <p>

                <p>Some of the key services we provide:
                <ul>
                    <li> finding specialists based on location and carrier criteria</li>
                    <li> scheduling and confirming appointments</li>
                    <li> ensuring pre-authorizations</li>
                    <li> performing follow ups with specialists and/or their staff</li>
                    <li> overseeing forwarding of results to the Primary Care Provider</li>
                    <li> patient support via telephone or email</li>
                    <li> extended hours of operation</li>
                    <li> trained and experienced professional staff that is ready to serve you and your</li>
                </ul>
                </p>
                <a href="contact.html" class="theme_button medium">Join Our Network</a>
                <a href="downloads/referral-form.pdf" class="theme_button medium">Download Referral Form</a>


            </div>


        </div>


    </div>
