<div class="slider box">

    <!-- Slides -->
    <ul class="photo_slider rs-slider">

        <li>
            <img src="placeholders/1010x400/1.jpg" alt="">
            <div class="rs-caption">
        <span class="rs-arrows">
          <a href="#" class="rs-prev"><i class="icon-chevron-left"></i></a><a href="#" class="rs-next"><i class="icon-chevron-right"></i></a>
        </span>
                <p>Patient Concierge Services helps YOU receive the best possible healthcare by bridging the
                    gap between your primary care physician and specialists.</p>
            </div>
        </li>

        <li>
            <img src="placeholders/1010x400/2.jpg" alt="">
            <div class="rs-caption">
        <span class="rs-arrows">
          <a href="#" class="rs-prev"><i class="icon-chevron-left"></i></a><a href="#" class="rs-next"><i class="icon-chevron-right"></i></a>
        </span>
                <p>Within minutes you can find the right specialist convenient to your location and schedule,
                    that accepts your insurance. You can also make the appointment right here and be on your
                    way to getting well sooner.</p>
            </div>
        </li>

        <li>
            <img src="placeholders/1010x400/3.jpg" alt="">
            <div class="rs-caption">
        <span class="rs-arrows">
          <a href="#" class="rs-prev"><i class="icon-chevron-left"></i></a><a href="#" class="rs-next"><i class="icon-chevron-right"></i></a>
        </span>
                <p>PCS offers access to our comprehensive network of Physicians to help you find the best
                    specialist. Follow the easy appointment process to get started.</p>
            </div>
        </li>

    </ul>

</div>
