
    <div class="content_box">


        <!-- Sidebar layout -->
        <div class="sidebar_layout">




            <!-- Sidebar -->
            <div class="right_sidebar sidebar clearfix">

                <section>
                    <img src="img/Specialists_Page.jpg">
                </section><br>

                <!-- Text -->
                        <ng-include class="" src="'partials/sidebar.html'"></ng-include>

                <!-- Video -->

            </div>


            <!-- Main column -->
            <div class="main_column two_thirds">

                <h2>Services for Specialists.</h2>

                <p>PCS created a comprehensive network of Primary Care and Specialist Physicians for

                    complete Patient Care Coordination. Through our network you will be able to offer the best

                    possible care to your patients and reduce the administrative workloads on your staff.

                    Participating in our network, you will be able to expand your patient volume, while providing

                    a better overall experience and care to your patients. PCS will help you and your patients

                    save time and eliminate any aggravation related to the administrative side of their specialist

                    visit. We will assist with the appointment process, handle the pre-authorizations and

                    oversee the follow-through on your patient’s behalf - all in a professional and courteous

                    manner.</p>

                <p>

                    The demand for Patient Care Coordination is peaking and supply is extremely short,

                    particularly for the smaller practices. PCS is in business precisely for the purpose of filling

                    this need. According to the Government data, Poor care coordination of patients with

                    multimorbidity contributes to test duplication, needless hospitalizations, medical

                    complications, patient nonadherence to care plans, decline in functional status, and

                    increased dependency. One estimate of the cost of waste associated with poor care

                    coordination was $25 billion to $45 billion for 2011 <cite>(Mayo Clinic Proceedings, January 7,

                    2013).</cite>
                <p>

                <p>Services we provide to specialists include:
                <ul>
                <li>Effective and ethical marketing tools for new patient introductions</il>

                <il> Comprehensive nationwide network of Primary Care Physicians</il>

                <il> Organic specialist selection tools for patients</il>

                <il> Carrier pre-authorizations</il>

                <il> Confirmations of appointments and coordination of schedules</il>

                <il> Follow-through</il>

                <il> Extended hours telephone and email support</il>

                <il> Trained professional staff of Patient Care Coordinators</il>

                <il> Complete privacy of patient information</il>
                </ul>
                </p>
                <p>PCS performs the function of a Patient Care Coordinator for patients requiring a specialist

                    visit. We work with local Primary Care Providers, relieving their administrative workloads,

                    that occur from necessity to recommend specialist visits to patients. Our professional staff is

                    dedicated to making the specialist visit as smooth as possible, as well as ensuring a timely

                    and thorough follow-through.</p>

                <p>The service we provide to your patients will enhance their experience and assist them

                    through the sometimes-painstaking process of identifying the best available specialist within

                    their carrier network. Our staff handles pre-authorizations and ensures the patient’s Primary

                    Care Provider receives the results in a timely manner. Effectively, this allows the patient to

                    focus on getting the best possible care, instead of having to worry about the administrative

                    side of their specialist visit. We adhere to the strictest HIPAA guidelines for patient privacy,

                    providing only the most secure and reliable service.
                </p>

                <a href="contact.html" class="theme_button medium">Join Our Network</a>


            </div>


        </div>


    </div>
